@charset "UTF-8";

/* DECLARAÇÕES GERAIS */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #0c165f;
    padding: 10px;
}

/* DECLARAÇÕES RETRATO */
@media screen and (orientation:portrait) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/* DECLARAÇÕES PAISAGEM */
@media screen and (orientation:landscape) {
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: left bottom;
    }
}