@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Poppins', sans-serif;
    --fonte3: 'Kalam', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}  

html, body {
    min-heigth: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 5vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fonte3);
}

header a:hover, footer a:hover {
    transition: 0.5s;
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.562);
    background-size: cover;
    background-attachment: fixed;
}

.imagem p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.527);
    text-shadow: 1px 1px 0px black;
}

.normal p{
    padding: 5px;
    font-weight: bold;
}

#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

#img02{
    background-image: url(imagens/background002.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}