@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.numero{
    text-align: right;
}