@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500&display=swap');

* {
    font-family: 'Inter Tight';
}

.borda {
    border-width: 5px 10px 3px 14px;
    border-style: solid dashed dotted ridge;
    border-top-color: red;
    border-right-color: blue;
    border-bottom-color: green;
    border-left-color: yellow;
}

.conteudo {
    width: 500px;
    height: 50%;
    color: white;
    background-color: black;
}

h1 {
    text-align: center;
}



.texto {
    text-align: justify;
    width: 300px;
    padding: 50px;
    border: 15px solid green;
    margin: 20px auto;
    background-color: lightgray;
}